<h1>Meetings</h1>

<table class="table table-bordered skins-air">
  <thead>
    <tr>
      <th>Start time</th>
      <th>Duration</th>
      <th>End time</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <% if meeting.end_time && meeting.end_time.future? %>
        <td><%= local_time meeting.start_time.to_formatted_s(:long) %></td>
        <td><%= (((meeting.end_time - meeting.start_time)/60) / 60).round(2) %> hours </td>
        <td><%= local_time meeting.end_time.to_formatted_s(:long) %></td>
        <td><%= link_to meeting.client.first_name, meeting.client %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>